.agendaContainer{
    margin: 4rem;

    .agendaTitle{
        margin: 1rem;
    }

    .agendaTable{
        margin: 1rem;

        .agendaTableHeader{
            display: flex;
            font-weight: bold;
            width: 100%;

            .agendaTableNameHeader{
                width: 25%;
                padding: 1rem;
                padding-left: 0rem;
            }

            .agendaTableAddressHeader{
                width: 25%;
                padding: 1rem;
                padding-left: 0rem;
            }

            .agendaTableTelephoneHeader{
                width: 25%;
                padding: 1rem;
                padding-left: 0rem;
            }

            .agendaTableEmailHeader{
                width: 25%;
                padding: 1rem;
                padding-left: 0rem;
            }

        }

    }

}