.agendaContactDrawerContent{
    width: 25rem;
}

.agendaDrawerTitle{
    margin: 1rem;
}

.agendaContactFileField{
    margin: 1rem !important;
    width: 90%;
}

.agendaContactDrawerFooter {
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.saveButton{
    margin: 1rem !important;
    height: 2.5rem;
}

.cancelButton{
    margin: 1rem !important;
    height: 2.5rem;
}