.agendaContainer{
    margin: 4rem;
}

.agendaHeaderConteiner{
    display: flex;
    justify-content: space-between;
}

.agendaTitle{
    margin: 1rem;
}

.agendaAddContact{
    height: 3rem;
    margin: 1rem !important;
}

.agendaTable{
    margin-right: 0rem;
}

.agendaTableHeader{
    display: flex;
    font-weight: bold;
    width: 95%;
    margin: 1rem;
}

.agendaTableNameHeader{
    width: 23%;
    padding: 1rem;
    padding-left: 0rem;
}

.agendaTableAddressHeader{
    width: 23%;
    padding: 1rem;
    padding-left: 0rem;
}

.agendaTableTelephoneHeader{
    width: 23%;
    padding: 1rem;
    padding-left: 0rem;
}

.agendaTableEmailHeader{
    width: 23%;
    padding: 1rem;
    padding-left: 0rem;
}

.agendaTableOptionsHeader{
    width: 8%;
    padding: 1rem;
    padding-left: 0rem;
}

.agendaTableBody{
    max-height: 40rem;
    overflow-y: scroll;
}